.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.score {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}

.title_info {
  color: rgb(53, 39, 255);
  min-height: 4rem;
  border-bottom: 2px solid gray;
}

.q_number {
  font-size: 1.5rem;
}

.q_content {
  font-size: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.option {
  border: 1px solid rgb(78, 78, 78);
  border-radius: 30px;
  width: 90%;
  padding: 1rem;
  font-size: xx-large;
  height: 4rem;

  display: flex;
  align-items: center;
  text-align: left;

  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.option[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}

.option:hover {
  transform: translateX(1rem);
}

.select {
  transform: translateX(1rem);
  color: rgb(255, 160, 160);
}

.answer {
  background-color: rgb(127, 246, 255);
  color: blue;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 2rem;
  }
  .options {
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 1rem;
    height: 100%;
    margin-top: 1rem;
  }

  .title_info {
    display: grid;
    grid-template-columns: 17% 83%;
    align-items: center;

    text-align: left;
  }

  .q_number {
    text-align: center;

    font-size: 1.3rem;
  }

  .q_content {
    font-size: 1.3rem;
  }

  .options {
    gap: 1rem;
  }

  .option {
    padding-left: 1rem;
    font-size: 1.3rem;
  }
}
