.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  height: 100%;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 2rem;
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .container {
    margin-top: 5rem;
    height: 50dvh;
  }
}
