.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80dvh;
  gap: 7rem;
}
.result_info {
  display: flex;
  align-items: center;

  gap: 6rem;
  flex-direction: column;
  font-size: 3rem;
}

.correct {
  color: blue;
}
.wrong {
  color: red;
}

.footer {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .result_info {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .container {
    gap: 6rem;
  }
  .result_info {
    font-size: 2rem;
    gap: 3rem;
  }
}
